body {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
body {
    background-color: #ffffff;
    font-family: Helvetica, sans-serif
}
h1  {
    color: #2DAd7c;
    font-family: Bluunext-bold, Georgia, 'Times New Roman', Times, serif
}
h2  {
    color: #2DAd7c;
    font-family: Lack-Line-Regular, Arial, Helvetica, sans-serif
}
h3 {
    font-family:  Helvetica, sans-serif
}

h5  {
    color: #E85000;
    font-family: Helvetica, sans-serif
}

header {
    background-color:#ffffff;
}
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  font-family: Lato, sans-serif;
}